::root{
    --borda-gradiante-principal: linear-gradient(to right, orange, purple);
}

*{
    padding: 0;
    margin: 0;
}

body{
    width: 40rem;
    height: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: block;
    margin: 0 auto;
    margin-bottom: -3px;
}

header img{
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 35rem;
    gap: 1rem;
}

.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    gap: 1rem;
}

.mainContent:after{
    width:50%;
    bottom: -50%;
}

.mainContent h1{
    font-size: 1.438rem;
}

.mainContent p{
    font-size: .813rem;
    line-height: 13.6px;
    color: #74787a;
}

.mainContent img{
    display: block;
}

.mainContent span{
    font-style: italic;
    font-size: .75rem;
    color: #b2b2b2;
    width: 50%;
    padding-bottom: .625rem;

    border-bottom: 3px solid;
    border-image: linear-gradient(to right, orange, purple) 100% 1;
}

.mainContent span{
    font-style: italic;
    font-size: .75rem;
    color: #b2b2b2;
    width: 50%;
    padding-bottom: .625rem;

    border-bottom: 3px solid;
    border-image: linear-gradient(to right, orange, purple) 100% 1;
}

.subSection{
    display: flex;
    gap: 5rem;
}

.subSection p{
    max-width: 20.5rem;
}

.subDiv{
    max-width: inherit;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.subDiv img{
    width: 100%;
}

.subDiv h2{
    font-weight: bold;
    color: #231f20;
    max-width: 14.75rem;
    font-size: 1.125rem;
    line-height: 22px;
}

.subDiv p{
    font-size: .75rem;
    color: #b2b2b2;
    width: 70%;
    padding-bottom: .625rem;

    border-bottom: 3px solid;
    border-image: linear-gradient(to right, cyan, blue) 100% 1;
}

.subDiv .lastElement{
    border-image: linear-gradient(to right, #68C1BD, green) 100% 1;
}

footer{
    margin-top: 3rem;
}

footer{
    display: flex;
    flex-direction: column;
}

footer span{
    text-align: center;
    font-size: .688rem
}

footer span:first-of-type{
    margin-top: 1rem;
}

a:link{
    color: dimgray;
}

a:visited{
    color: dimgray;
}